## Cars dataset

In [1]:
import pandas as pd

In [5]:
car = pd.read_csv("cars data.csv")

In [6]:
car.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [8]:
car.shape

(432, 15)

### find the null value and fill  these values

In [24]:
#car.isnull()
car.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [26]:
car.fillna(car.mean(), inplace = True)

In [33]:
# column Make records total
car['Make'].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Dodge            13
Mitsubishi       13
Volvo            12
Hyundai          12
Jaguar           12
Subaru           11
Lexus            11
Kia              11
Pontiac          11
Mazda            11
Lincoln           9
Mercury           9
Buick             9
Infiniti          8
Cadillac          8
Suzuki            8
GMC               8
Saturn            8
Saab              7
Porsche           7
Acura             7
Jeep              3
Oldsmobile        3
Land Rover        3
Isuzu             2
MINI              2
Scion             2
Hummer            1
Name: Make, dtype: int64

In [37]:
#Where origin is Asia or Europe
car[car['Origin'].isin(['Asia','Europe'])]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [41]:
#remove the unwanted recodes: where weigth is above 5000

car[~(car['Weight'] > 5000)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [43]:
# increase all the values of MPG_City by 

car['MPG_City'] = car['MPG_City'].apply(lambda x:x*2)

In [49]:
car.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,34.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,48.0,31.0,2778.0,101.0,172.0

In [53]:
car[car['Type'] == 'SUV']

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,34.0,23.0,4451.0,106.0,189.0
26,BMW,X3 3.0i,SUV,Europe,All,"$37,000","$33,873",3.0,6.0,225.0,32.0,23.0,4023.0,110.0,180.0
27,BMW,X5 4.4i,SUV,Europe,All,"$52,195","$47,720",4.4,8.0,325.0,32.0,22.0,4824.0,111.0,184.0
48,Buick,Rainier,SUV,USA,All,"$37,895","$34,357",4.2,6.0,275.0,30.0,21.0,4600.0,113.0,193.0
49,Buick,Rendezvous CX,SUV,USA,Front,"$26,545","$24,085",3.4,6.0,185.0,38.0,26.0,4024.0,112.0,187.0
57,Cadillac,Escalade,SUV,USA,Front,"$52,795","$48,377",5.3,8.0,295.0,28.0,18.0,5367.0,116.0,199.0
58,Cadillac,SRX V8,SUV,USA,Front,"$46,995","$43,523",4.6,8.0,320.0,32.0,21.0,4302.0,116.0,195.0
65,Chevrolet,Suburban 1500 LT,SUV,USA,Front,"$42,735","$37,422",5.3,8.0,295.0,28.0,18.0,4947.0,130.0,219.0
66,Chevrolet,Tahoe LT,SUV,USA,All,"$41,465","$36,287",5.3,8.0,295.0,28.0,18.0,5050.0,116.0,197.0
67,Chevrolet,TrailBlazer LT,SUV,USA,Front,"$30,295","$27,479",4.2,6.0,275.0,32.0,21.0,4425.0,113.0,192.0
68,Chevrolet,Tracker,SUV,USA,Front,"$20,255","$19,108",2.5,6.0,165.0,38.0,22.0,2866.0,98.0,163.0
107,Dodge,Durango SLT,SUV,USA,All,"$32,235","$29,472",4.7,8.0,230.0,30.0,21.0,4987.0,119.0,201.0
120,Ford,Excursion 6.8 XLT,SUV,USA,All,"$41,475","$36,494",6.8,10.0,310.0,20.0,13.0,7190.0,137.0,227.0
121,Ford,Expedition 4.6 XLT,SUV,USA,Front,"$34,560","$30,468",4.6,8.0,232.0,30.0,19.0,5000.0,119.0,206.0
122,Ford,Explorer XLT V6,SUV,USA,All,"$29,670","$26,983",4.0,6.0,210.0,30.0,20.0,4463.0,114.0,190.0
123,Ford,Escape XLS,SUV,USA,All,"$22,515","$20,907",3.0,6.0,201.0,36.0,23.0,3346.0,103.0,173.0
143,GMC,Envoy XUV SLE,SUV,USA,Front,"$31,890","$28,922",4.2,6.0,275.0,30.0,19.0,4945.0,129.0,208.0
144,GMC,Yukon 1500 SLE,SUV,USA,Front,"$35,725","$31,361",4.8,8.0,285.0,32.0,19.0,5042.0,116.0,199.0
145,GMC,Yukon XL 2500 SLT,SUV,USA,All,"$46,265","$40,534",6.0,8.0,325.0,26.0,17.0,6133.0,130.0,219.0
153,Honda,Pilot LX,SUV,Asia,All,"$27,560","$24,843",3.5,6.0,240.0,34.0,22.0,4387.0,106.0,188.0
154,Honda,CR-V LX,SUV,Asia,All,"$19,860","$18,419",2.4,4.0,160.0,42.0,25.0,3258.0,103.0,179.0
155,Honda,Element LX,SUV,Asia,All,"$18,690","$17,334",2.4,4.0,160.0,42.0,24.0,3468.0,101.0,167.0
169,Hummer,H2,SUV,USA,All,"$49,995","$45,815",6.0,8.0,316.0,20.0,12.0,6400.0,123.0,190.0
170,Hyundai,Santa Fe GLS,SUV,Asia,Front,"$21,589","$20,201",2.7,6.0,173.0,40.0,26.0,3549.0,103.0,177.0
191,Isuzu,Ascender S,SUV,Asia,All,"$31,849","$29,977",4.2,6.0,275.0,30.0,20.0,4967.0,129.0,208.0
192,Isuzu,Rodeo S,SUV,Asia,Front,"$20,449","$19,261",3.2,6.0,193.0,34.0,21.0,3836.0,106.0,178.0
205,Jeep,Grand Cherokee Laredo,SUV,USA,Front,"$27,905","$25,686",4.0,6.0,195.0,32.0,21.0,3790.0,106.0,181.0
206,Jeep,Liberty Sport,SUV,USA,All,"$20,130","$18,973",2.4,4.0,150.0,40.0,24.0,3826.0,104.0,174.0
207,Jeep,Wrangler Sahara convertible 2dr,SUV,USA,All,"$25,520","$23,275",4.0,6.0,190.0,32.0,19.0,3575.0,93.0,150.0
208,Kia,Sorento LX,SUV,Asia,Front,"$19,635","$18,630",3.5,6.0,192.0,32.0,19.0,4112.0,107.0,180.0
219,Land Rover,Range Rover HSE,SUV,Europe,All,"$72,250","$65,807",4.4,8.0,282.0,24.0,16.0,5379.0,113.0,195.0
220,Land Rover,Discovery SE,SUV,Europe,All,"$39,250","$35,777",4.6,8.0,217.0,24.0,16.0,4576.0,100.0,185.0
221,Land Rover,Freelander SE,SUV,Europe,All,"$25,995","$23,969",2.5,6.0,174.0,36.0,21.0,3577.0,101.0,175.0
222,Lexus,GX 470,SUV,Asia,All,"$45,700","$39,838",4.7,8.0,235.0,30.0,19.0,4740.0,110.0,188.0
223,Lexus,LX 470,SUV,Asia,All,"$64,800","$56,455",4.7,8.0,235.0,26.0,17.0,5590.0,112.0,193.0
224,Lexus,RX 330,SUV,Asia,All,"$39,195","$34,576",3.3,6.0,230.0,36.0,24.0,4065.0,107.0,186.0
233,Lincoln,Navigator Luxury,SUV,USA,All,"$52,775","$46,360",5.4,8.0,300.0,26.0,18.0,5969.0,119.0,206.0
234,Lincoln,Aviator Ultimate,SUV,USA,Front,"$42,915","$39,443",4.6,8.0,302.0,26.0,18.0,4834.0,114.0,193.0
244,Mazda,Tribute DX 2.0,SUV,Asia,All,"$21,087","$19,742",2.0,4.0,130.0,44.0,25.0,3091.0,103.0,173.0
255,Mercedes-Benz,G500,SUV,Europe,All,"$76,870","$71,540",5.0,8.0,292.0,26.0,14.0,5423.0,112.0,186.0
256,Mercedes-Benz,ML500,SUV,Europe,All,"$46,470","$43,268",5.0,8.0,288.0,28.0,17.0,4874.0,111.0,183.0
281,Mercury,Mountaineer,SUV,USA,Front,"$29,995","$27,317",4.0,6.0,210.0,32.0,21.0,4374.0,114.0,190.0
290,Mitsubishi,Endeavor XLS,SUV,Asia,All,"$30,492","$28,330",3.8,6.0,215.0,34.0,21.0,4134.0,109.0,190.0
291,Mitsubishi,Montero XLS,SUV,Asia,All,"$33,112","$30,763",3.8,6.0,215.0,30.0,19.0,4718.0,110.0,190.0
292,Mitsubishi,Outlander LS,SUV,Asia,Front,"$18,892","$17,569",2.4,4.0,160.0,42.0,27.0,3240.0,103.0,179.0
303,Nissan,Pathfinder Armada SE,SUV,Asia,Front,"$33,840","$30,815",5.6,8.0,305.0,26.0,19.0,5013.0,123.0,207.0
304,Nissan,Pathfinder SE,SUV,Asia,Front,"$27,339","$25,972",3.5,6.0,240.0,32.0,21.0,3871.0,106.0,183.0
305,Nissan,Xterra XE V6,SUV,Asia,Front,"$20,939","$19,512",3.3,6.0,180.0,34.0,20.0,3760.0,104.0,178.0
323,Pontiac,Aztekt,SUV,USA,Front,"$21,595","$19,810",3.4,6.0,185.0,38.0,26.0,3779.0,108.0,182.0
334,Porsche,Cayenne S,SUV,Europe,All,"$56,665","$49,865",4.5,8.0,340.0,28.0,18.0,4950.0,112.0,188.0
348,Saturn,VUE,SUV,USA,All,"$20,585","$19,238",2.2,4.0,143.0,42.0,26.0,3381.0,107.0,181.0
369,Suzuki,XL-7 EX,SUV,Asia,Front,"$23,699","$22,307",2.7,6.0,185.0,36.0,22.0,3682.0,110.0,187.0
370,Suzuki,Vitara LX,SUV,Asia,All,"$17,163","$16,949",2.5,6.0,165.0,38.0,22.0,3020.0,98.0,163.0
378,Toyota,Sequoia SR5,SUV,Asia,All,"$35,695","$31,827",4.7,8.0,240.0,28.0,17.0,5270.0,118.0,204.0
379,Toyota,4Runner SR5 V6,SUV,Asia,Front,"$27,710","$24,801",4.0,6.0,245.0,36.0,21.0,4035.0,110.0,189.0
380,Toyota,Highlander V6,SUV,Asia,All,"$27,930","$24,915",3.3,6.0,230.0,36.0,24.0,3935.0,107.0,185.0
381,Toyota,Land Cruiser,SUV,Asia,All,"$54,765","$47,986",4.7,8.0,325.0,26.0,17.0,5390.0,112.0,193.0
382,Toyota,RAV4,SUV,Asia,All,"$20,290","$18,553",2.4,4.0,161.0,44.0,27.0,3119.0,98.0,167.0
405,Volkswagen,Touareg V6,SUV,Europe,All,"$35,515","$32,243",3.2,6.0,220.0,30.0,20.0,5086.0,112.0,187.0
420,Volvo,XC90 T6,SUV,Europe,All,"$41,250","$38,851",2.9,6.0,268.0,30.0,20.0,4638.0,113.0,189.0

In [58]:
# Highest MSRP
car.sort_values('MSRP',ascending = False).head(5)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
265,Mercedes-Benz,CL500 2dr,Sedan,Europe,Rear,"$94,820","$88,324",5.0,8.0,302.0,32.0,24.0,4085.0,114.0,196.0
273,Mercedes-Benz,SL500 convertible 2dr,Sports,Europe,Rear,"$90,520","$84,325",5.0,8.0,302.0,32.0,23.0,4065.0,101.0,179.0
6,Acura,NSX coupe 2dr manual S,Sports,Asia,Rear,"$89,765","$79,978",3.2,6.0,290.0,34.0,24.0,3153.0,100.0,174.0
204,Jaguar,XKR convertible 2dr,Sports,Europe,Rear,"$86,995","$79,226",4.2,8.0,390.0,32.0,23.0,4042.0,102.0,187.0
272,Mercedes-Benz,S500 4dr,Sedan,Europe,All,"$86,970","$80,939",5.0,8.0,302.0,32.0,24.0,4390.0,122.0,203.0

In [59]:
# Lowest MSRP
car.sort_values('MSRP',ascending = True).head(5)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
210,Kia,Rio 4dr manual,Sedan,Asia,Front,"$10,280","$9,875",1.6,4.0,104.0,52.0,33.0,2403.0,95.0,167.0
171,Hyundai,Accent 2dr hatch,Sedan,Asia,Front,"$10,539","$10,107",1.6,4.0,103.0,58.0,33.0,2255.0,96.0,167.0
386,Toyota,Echo 2dr manual,Sedan,Asia,Front,"$10,760","$10,144",1.5,4.0,108.0,70.0,43.0,2035.0,93.0,163.0
349,Saturn,Ion1 4dr,Sedan,USA,Front,"$10,995","$10,319",2.2,4.0,140.0,52.0,35.0,2692.0,103.0,185.0
211,Kia,Rio 4dr auto,Sedan,Asia,Front,"$11,155","$10,705",1.6,4.0,104.0,50.0,32.0,2458.0,95.0,167.0

In [78]:
car[(car.Horsepower > 300) & (car.Type == 'Sedan')].head(5)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
18,Audi,A8 L Quattro 4dr,Sedan,Europe,All,"$69,190","$64,740",4.2,8.0,330.0,34.0,24.0,4399.0,121.0,204.0
19,Audi,S4 Quattro 4dr,Sedan,Europe,All,"$48,040","$43,556",4.2,8.0,340.0,28.0,20.0,3825.0,104.0,179.0
40,BMW,545iA 4dr,Sedan,Europe,Rear,"$54,995","$50,270",4.4,8.0,325.0,36.0,26.0,3814.0,114.0,191.0
41,BMW,745i 4dr,Sedan,Europe,Rear,"$69,195","$63,190",4.4,8.0,325.0,36.0,26.0,4376.0,118.0,198.0
42,BMW,745Li 4dr,Sedan,Europe,Rear,"$73,195","$66,830",4.4,8.0,325.0,36.0,26.0,4464.0,123.0,204.0

In [83]:
car.Model.str.contains('Quattro').sum()

11

In [90]:
car.groupby('Make')['MSRP'].max()

Make
Acura            $89,765
Audi             $84,600
BMW              $73,195
Buick            $40,720
Cadillac         $76,200
Chevrolet        $51,535
Chrysler         $38,380
Dodge            $81,795
Ford             $41,475
GMC              $46,265
Honda            $33,260
Hummer           $49,995
Hyundai          $26,189
Infiniti         $52,545
Isuzu            $31,849
Jaguar           $86,995
Jeep             $27,905
Kia              $26,000
Land Rover       $72,250
Lexus            $64,800
Lincoln          $52,775
MINI             $19,999
Mazda            $28,750
Mercedes-Benz    $94,820
Mercury          $34,495
Mitsubishi       $33,112
Nissan           $34,390
Oldsmobile       $28,790
Pontiac          $35,995
Porsche          $84,165
Saab             $43,175
Saturn           $23,560
Scion            $14,165
Subaru           $31,545
Suzuki           $23,699
Toyota           $54,765
Volkswagen       $75,000
Volvo            $45,210
Name: MSRP, dtype: object

In [92]:
car.groupby('Type')['MSRP'].max()

Type
Hybrid    $20,510
SUV       $76,870
Sedan     $94,820
Sports    $90,520
Truck     $52,975
Wagon     $60,670
Name: MSRP, dtype: object