## Udemy Courses Data

In [1]:
import pandas as pd

In [9]:
data  = pd.read_csv("Udemy_Courses.csv")

In [10]:
data.head(5)

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments
2,1193886,#12 Hand Coordination: Let your Hands dance wi...,True,75,482,1,47,Intermediate Level,1.5 hours,2017-04-26T18:34:57Z,Musical Instruments
3,1116700,#4 Piano Hand Coordination: Fun Piano Runs in ...,True,75,850,3,43,Intermediate Level,1 hour,2017-02-21T23:48:18Z,Musical Instruments
4,1120410,#5 Piano Hand Coordination: Piano Runs in 2 ...,True,75,940,3,32,Intermediate Level,37 mins,2017-02-21T23:44:49Z,Musical Instruments

### Different kind of courses offered by Udemy

In [11]:
data.subject.unique()

array(['Musical Instruments', 'Business Finance', 'Graphic Design',
       'Web Development'], dtype=object)

In [15]:
#max courses on a subject
data['subject'].value_counts()

Web Development        1200
Business Finance       1199
Musical Instruments     680
Graphic Design          603
Name: subject, dtype: int64

In [48]:
#free courses

data[data.is_paid == False].head(2)

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
41,286070,5 lecciones que todo guitarrista debe tomar,False,Free,4452,263,14,Beginner Level,1 hour,2014-08-23T05:08:14Z,Musical Instruments
49,696630,"7 Ways A Beginner Guitarist Can Sound Better, ...",False,Free,4529,193,7,Beginner Level,36 mins,2015-12-21T18:50:50Z,Musical Instruments

In [50]:
# paid courses

data[data.is_paid == True].head(2)

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments

### total courses by subject

In [41]:

data.groupby('subject').count()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp
subject,,,,,,,,,,
Business Finance,1199,1199,1199,1199,1199,1199,1199,1199,1199,1199
Graphic Design,603,603,603,603,603,603,603,603,603,603
Musical Instruments,680,680,680,680,680,680,680,680,680,680
Web Development,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200

In [43]:
# free courses as per subjectect category
data[data.is_paid==False].groupby('subject').count()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp
subject,,,,,,,,,,
Business Finance,96,96,96,96,96,96,96,96,96,96
Graphic Design,35,35,35,35,35,35,35,35,35,35
Musical Instruments,46,46,46,46,46,46,46,46,46,46
Web Development,133,133,133,133,133,133,133,133,133,133

In [47]:
# Paid courses as per subjectect category
data[data.is_paid==True].groupby('subject').count()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp
subject,,,,,,,,,,
Business Finance,1103,1103,1103,1103,1103,1103,1103,1103,1103,1103
Graphic Design,568,568,568,568,568,568,568,568,568,568
Musical Instruments,634,634,634,634,634,634,634,634,634,634
Web Development,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067

### Top courses

In [53]:
# by number od subscribers
data.sort_values('num_subscribers', ascending = False).head(5)

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
2230,41295,Learn HTML5 Programming From Scratch,False,Free,268923,8629,45,All Levels,10.5 hours,2013-02-14T07:03:41Z,Web Development
776,59014,Coding for Entrepreneurs Basic,False,Free,161029,279,27,Beginner Level,3.5 hours,2013-06-09T15:51:55Z,Web Development
3385,625204,The Web Developer Bootcamp,True,200,121584,27445,342,All Levels,43 hours,2015-11-02T21:13:27Z,Web Development
640,173548,Build Your First Website in 1 Week with HTML5 ...,False,Free,120291,5924,30,Beginner Level,3 hours,2014-04-08T16:21:30Z,Web Development
3316,764164,The Complete Web Developer Course 2.0,True,200,114512,22412,304,All Levels,30.5 hours,2016-03-08T22:28:36Z,Web Development

In [61]:
# by duration
data.sort_values('content_duration', ascending = False).head(5)

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
75,766320,สร้างงานกราฟฟิคแอพพลิเคชั่นมือถือด้วย Adobe Il...,True,20,25,5,30,Beginner Level,9.5 hours,2016-02-25T17:18:41Z,Graphic Design
2209,382204,Learn How To Successfully Trade Stocks: In 5 S...,True,95,2493,276,108,All Levels,9.5 hours,2015-01-31T19:02:09Z,Business Finance
2300,987666,Learn React : The World's Most Lucrative JavaS...,True,50,1591,99,74,Beginner Level,9.5 hours,2017-02-08T00:40:08Z,Web Development
279,769390,Angular 2 Master Class with Alejandro Rangel,True,30,4157,206,80,All Levels,9.5 hours,2016-03-01T00:07:14Z,Web Development
281,719002,Angular 2 with TypeScript for Beginners: The P...,True,150,40070,8341,194,All Levels,9.5 hours,2016-03-03T20:17:59Z,Web Development

### all the web dev courses with prices below 100

In [74]:
data[(data.subject == 'Web Development') & (data.price > '100')].head(5)

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
12,64422,1 Hour HTML,True,200,16212,514,20,Beginner Level,1 hour,2013-07-09T03:16:26Z,Web Development
13,63612,1 Hour JavaScript,True,200,22999,602,18,Beginner Level,1 hour,2013-07-04T15:27:02Z,Web Development
24,975916,17 Complete JavaScript projects explained st...,True,185,327,26,106,Beginner Level,9.5 hours,2016-10-26T14:03:38Z,Web Development
34,592594,3D Programming with WebGL and Babylon.js for B...,True,200,549,49,18,Intermediate Level,2 hours,2015-08-31T21:07:26Z,Web Development
56,304490,A 13 Hour SQL Server 2014 /ASP.NET/CSS/C#/jQue...,True,35,4183,231,86,Intermediate Level,14 hours,2014-10-12T06:29:05Z,Web Development

In [75]:
data[(data.subject == 'Web Development') & (data.price == '100')].head(5)

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
11,64605,1 Hour CSS,True,100,18324,333,16,Beginner Level,1 hour,2013-07-09T20:27:14Z,Web Development
14,72262,1 hour jQuery,True,100,5456,133,25,Beginner Level,1 hour,2013-08-03T14:20:52Z,Web Development
50,665042,8 Beautiful Ruby on Rails Apps in 30 Days & TD...,True,100,5962,466,132,All Levels,16 hours,2016-03-08T07:36:40Z,Web Development
274,874166,Angular 2 Crash Course with TypeScript,True,100,16409,589,74,All Levels,4 hours,2016-06-14T19:26:06Z,Web Development
306,419318,AngularJS Masterclass - Deep Dive & Understand...,True,100,2912,309,85,All Levels,6 hours,2015-03-04T22:52:26Z,Web Development

In [81]:
# Python courses
data[data.course_title.str.contains('Python')]

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
216,599504,Advanced Scalable Python Web Development Using...,True,120,1299,56,71,Intermediate Level,14 hours,2016-08-11T22:09:24Z,Web Development
777,47963,"Coding for Entrepreneurs: Learn Python, Django...",True,195,23412,799,251,All Levels,45 hours,2013-04-08T00:46:14Z,Web Development
814,631128,Complete Python Web Course: Build 8 Python Web...,True,110,7489,941,173,All Levels,16 hours,2015-11-08T20:57:35Z,Web Development
842,186096,"Core: A Web App Reference Guide for Django, Py...",True,195,2497,98,154,All Levels,26 hours,2014-05-29T00:58:43Z,Web Development
1400,394832,Fun and creative web engineering with Python a...,False,Free,10917,319,25,All Levels,2 hours,2015-06-09T19:51:50Z,Web Development
1932,1038538,Introduction to QGIS Python Programming,True,85,197,26,28,Beginner Level,3.5 hours,2016-12-22T00:11:22Z,Web Development
1969,902888,Investment Portfolio Analysis with Python,True,50,209,13,37,All Levels,7 hours,2016-07-13T21:40:32Z,Business Finance
2294,391546,Learn Python and Django: Payment Processing,True,70,17714,198,23,All Levels,3.5 hours,2015-02-09T15:37:56Z,Web Development
2295,1063722,Learn Python Django - A Hands-On Course,True,50,1339,21,18,Beginner Level,2 hours,2017-01-18T21:53:34Z,Web Development
2341,546848,Learn to code in Python and learn Adobe Photos...,True,50,1132,1,29,All Levels,2 hours,2015-07-08T00:15:12Z,Graphic Design
2906,368340,Professional Python Web Development Using Flask,True,120,3420,489,102,Beginner Level,14.5 hours,2015-03-04T00:10:36Z,Web Development
2908,1035940,Professional RESTful API Design using Python F...,True,120,578,25,36,Intermediate Level,4.5 hours,2017-01-11T21:15:25Z,Web Development
2929,270808,Projects in Django and Python,True,60,1764,53,28,All Levels,6.5 hours,2014-10-21T07:58:07Z,Web Development
2952,1170894,Python Algo Stock Trading: Automate Your Trading!,True,95,1165,21,41,Beginner Level,2.5 hours,2017-05-28T23:41:03Z,Business Finance
2953,1070886,Python Algo Trading: FX Trading with Oanda,True,200,453,42,33,Intermediate Level,3 hours,2017-03-14T00:39:45Z,Business Finance
2954,1196544,Python Algo Trading: Sentiment Trading with News,True,200,294,19,42,All Levels,7 hours,2017-04-28T16:41:44Z,Business Finance
2955,822444,Python and Django Full Stack Web Developer Boo...,True,200,11832,1883,191,All Levels,31.5 hours,2017-02-24T18:40:55Z,Web Development
2956,477702,Python for Beginners: Python Programming Langu...,True,150,6153,125,84,Beginner Level,5 hours,2015-06-14T18:18:57Z,Web Development
2957,1035472,Python for Finance: Investment Fundamentals & ...,True,195,3811,278,103,All Levels,6.5 hours,2017-03-30T22:17:09Z,Business Finance
2958,529828,Python for Trading & Investing,True,95,638,25,36,All Levels,5 hours,2015-06-17T22:23:31Z,Business Finance
2959,70640,Python Programming: Create an Digital Marketpl...,True,195,4198,145,161,All Levels,26 hours,2013-10-20T19:53:28Z,Web Development
2960,523312,Python Web Programming,True,100,1020,46,60,Beginner Level,6 hours,2015-07-01T21:46:36Z,Web Development
2962,1088656,Quantitative Trading Analysis with Python,True,50,256,17,49,All Levels,5.5 hours,2017-01-27T17:11:28Z,Business Finance
3013,970600,REST APIs with Flask and Python,True,110,5151,737,115,Intermediate Level,12.5 hours,2016-11-06T19:00:38Z,Web Development
3154,815482,Stock Technical Analysis with Python,True,50,409,35,46,All Levels,8 hours,2016-04-12T00:40:03Z,Business Finance
3272,938560,The Complete Ethical Hacking Course 2.0: Pytho...,True,195,7827,268,66,All Levels,11 hours,2016-09-26T15:08:29Z,Web Development
3460,76052,Try Django 1.9 | Build a Blog and Learn Python...,True,50,7407,172,147,All Levels,20 hours,2014-03-04T07:12:21Z,Web Development
3573,16646,Web Programming with Python,True,50,35267,217,53,All Levels,4 hours,2012-04-25T00:01:43Z,Web Development
3574,574082,"Web Scraping with Python, Ruby & import. io",True,75,973,50,46,All Levels,4.5 hours,2015-08-09T22:16:41Z,Web Development

### Course published year

In [88]:
data['published_timestamp'] = pd.to_datetime(data.published_timestamp)
data['year'] = data['published_timestamp'].dt.year
data.head()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject,year
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35,3137,18,68,All Levels,1.5 hours,2014-09-18 05:07:05+00:00,Musical Instruments,2014
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75,1593,1,41,Intermediate Level,1 hour,2017-04-12 19:06:34+00:00,Musical Instruments,2017
2,1193886,#12 Hand Coordination: Let your Hands dance wi...,True,75,482,1,47,Intermediate Level,1.5 hours,2017-04-26 18:34:57+00:00,Musical Instruments,2017
3,1116700,#4 Piano Hand Coordination: Fun Piano Runs in ...,True,75,850,3,43,Intermediate Level,1 hour,2017-02-21 23:48:18+00:00,Musical Instruments,2017
4,1120410,#5 Piano Hand Coordination: Piano Runs in 2 ...,True,75,940,3,32,Intermediate Level,37 mins,2017-02-21 23:44:49+00:00,Musical Instruments,2017

In [108]:
data[data.year == '2015'].head()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject,year
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35,3137,18,68,All Levels,1.5 hours,2014-09-18 05:07:05+00:00,Musical Instruments,2015
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75,1593,1,41,Intermediate Level,1 hour,2017-04-12 19:06:34+00:00,Musical Instruments,2015
2,1193886,#12 Hand Coordination: Let your Hands dance wi...,True,75,482,1,47,Intermediate Level,1.5 hours,2017-04-26 18:34:57+00:00,Musical Instruments,2015
3,1116700,#4 Piano Hand Coordination: Fun Piano Runs in ...,True,75,850,3,43,Intermediate Level,1 hour,2017-02-21 23:48:18+00:00,Musical Instruments,2015
4,1120410,#5 Piano Hand Coordination: Piano Runs in 2 ...,True,75,940,3,32,Intermediate Level,37 mins,2017-02-21 23:44:49+00:00,Musical Instruments,2015

### Max-Min subscribers in each level in a course

In [109]:
data.level.unique()

array(['All Levels', 'Intermediate Level', 'Beginner Level',
       'Expert Level'], dtype=object)

In [127]:
data.groupby('level')['num_subscribers'].sum()

level
All Levels            6916112
Beginner Level        4052843
Expert Level            50196
Intermediate Level     742005
Name: num_subscribers, dtype: int64

In [128]:
data.groupby('level')['num_subscribers'].max()

level
All Levels            268923
Beginner Level        161029
Expert Level            5172
Intermediate Level     29167
Name: num_subscribers, dtype: int64

In [114]:
data.groupby('level').min()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,content_duration,published_timestamp,subject,year
level,,,,,,,,,,,
All Levels,8324,#1 Piano Hand Coordination: Play 10th Ballad i...,False,100,0,0,0,0,2011-07-09 05:43:31+00:00,Business Finance,2015
Beginner Level,12975,1 - Concepts of Statistics For Beginners Step ...,False,100,0,0,0,1 hour,2012-06-15 17:00:33+00:00,Business Finance,2015
Expert Level,42640,Adobe InDesign CC Advanced,True,100,1,0,6,1 hour,2013-02-24 04:47:36+00:00,Business Finance,2015
Intermediate Level,17887,#10 Hand Coordination - Transfer Chord Ballad ...,False,100,0,0,5,1 hour,2012-05-21 18:22:09+00:00,Business Finance,2015